h5 {
    font-size: 1.15rem;
    color: #4d92c4;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 27px;
    color: #4d92c4;
    font-weight: 700;
}

.site-main {
    padding-bottom: 5rem;
}
.wrapper {
    display: flex;
    margin: 5% 12.5% 0 12.5%;
}
.inner-wrapper {
    width: 100%;
}

.page-header {
    margin-bottom: 5.0rem;
}
.page-subtitle {
    font-size: 1.25rem;
    line-height: 2rem;
}
.page-content dl {
    margin-bottom: 2.5em;
}
.profile-title {
    font-weight: 700;

}
.profile-list {
    overflow: hidden;
}
.profile-list dt {
    min-width: 5em;
    clear: both;
    float: left;
}

.profile-list dt, .profile-list dd {
    margin-bottom: 1.2em;
}
.career-title {
    font-weight: 700;
    margin-top: 1rem;
}
.career-list dd {
    margin-left: 1em;
}

.career-meta {
    color: #949599;
    font-size: .8rem;
    margin-bottom: 0;
}
.career-description {
    font-size: .9rem;
    color: #0c0c0c;
    background-color: #f1f1ef;
    padding: 0 10px 0 10px;
}

.career-skills {
    font-size: .9rem;
    color: #0c0c0c;
}

.ant-divider-inner-text {
    font-size: 1.15rem;
    color: #4d92c4;
    font-weight: 700;
}
