.site-footer {
    color: #fff;
    font-weight: 200;
}

.footer-copyright {
    font-size: 17px;
    font-weight: bold;
}

.footer-icons {
    font-size: 2rem;
    margin-left: 2rem;
    color: #fff;
}

